version: '3.3'
services:
   db:
      container_name: db
      build: ./postgres
      restart: always
      ports:
        - "5432:5432"
      environment:
        POSTGRES_PASSWORD: mbafiap2021
   rabbitmq:
      container_name: rabbitmq
      restart: always
      build: ./rabbit
      ports:
         - "5672:5672"
         - "15672:15672"
   nginx:
      build: ./nginx
      restart: always
      ports:
         - "80:80"
      depends_on:
         - app1
         - app2
   redis:
      container_name: redis
      restart: always
      build: ./redis1
      ports:
      - "6379:6379"
   redis2:
      container_name: redis2
      restart: always
      build: ./redis2
      ports:
      - "6380:6379"
   app1:
      container_name: netflixapi
      build: ./app1
      ports:
        - "5001:9000"
      depends_on:
         - db
         - rabbitmq
         - redis
         - redis2
      links:
         - db
         - rabbitmq
         - redis
         - redis2
   app2:
      container_name: netflixapi2
      build: ./app2
      ports:
         - "5002:9000"
      depends_on:
         - db
         - rabbitmq
         - redis
         - redis2
      links:
         - db
         - rabbitmq
         - redis
         - redis2